img {
    height: 300px;
}

form {
    margin-bottom: 10px;
}

h1 {
    font-size: 7rem;
    text-align: center;
    margin: 5px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#search {
    width: 95vw;
}